<header>	
	<img src="/images/20.png" with = "200" height="200"> </img>
<!--	<img src='/images/39.jpg'>  </img>	-->

	<nav class="round">		
	
		
			<ul>
				<li> <%= link_to "Статті", articles_path %> </li>
				<li> <%= link_to "Користувачі", users_path %> </li>
				<li> <%= link_to "Головна", admin_path %> </li>
			</ul>
		
		<a> <%= button_to 'Вийти' , logout_path, :method => :delete %> </a>
	
	</nav>
</header>
